.badge {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.badge-default {
  background-color: #DFE6E9;
  color: #636E72;
}

.badge-new {
  background-color: #FFEAA7;
  color: #D35400;
}

.badge-update {
  background-color: #E2E0FF;
  color: var(--secondary);
}

.badge-popular {
  background-color: #FF7675;
  color: white;
}
